DEBUG="false"
APP_PATH="Your path to App"
PUBLIC_PATH="Your path to Public"
DOWNLOAD_PATH="${PUBLIC_PATH}/assets/downloads"
MODELS_PATH="${APP_PATH}/Models"
VIEWS_PATH="${APP_PATH}/Views"
ROUTERS_PATH="${APP_PATH}/Routers"
CONTROLLERS_PATH="${APP_PATH}/Controllers"
CORE_PATH="${APP_PATH}/Core"
LOG_PATH="${APP_PATH}/../Logs"
####
DB_HOST=""
DB_USER=""
DB_PASS=""
DB_NAME="schedule"
###
SESSION_KEY=""
COOKIE_KEY=""
### SMTP Settings
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER="user@example.com"
SMTP_PASS="secret"
SMTP_SECURE="tls"
MAIL_FROM="noreply@example.com"
MAIL_FROM_NAME="Schedule Maker"