.available-schedule-items{
    min-height: 30px;
}
.unavailable-for-classroom::after {
    content: "Uygun Derslik yok";
    color: #fff;
}
.unavailable-for-lecturer::after {
    content: "Hoca dolu";
    color: #fff;
}
.unavailable-for-program::after {
    content: "Program dolu";
    color: #fff;
}